
android/
# debug
# dependencies
dist/
.DS_Store
.env
.env*.local
.expo/
# Expo
expo-env.d.ts
ios/
*.jks
*.key
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
# local env files
# macOS
# Metro
.metro-health-check*
*.mobileprovision
# Native
node_modules/
npm-debug.*
*.orig.*
*.p12
*.p8
*.pem
*.tsbuildinfo
# typescript
.vercel
web-build/
yarn-debug.*
yarn-error.*
